* {
    font-size: 14 px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color:green;
}
h2 {
    color: orangered;
    text-align: center;
}
blockquote {
    background-color: rgba(230, 228, 228, 0.999);
}
p {
    line-height: 1.6;
}
ul {
    line-height: 1.6;
}